div{
    height: 200px;
    width: 200px;
    background-color: blue;

    animation-name: asd;
    position: absolute;
    animation-timing-function: ease-in;
    animation-direction: reverse;
    animation-duration: 1s;
}

div:hover{
    color: chartreuse;
}
@keyframes asd {
    from{background-color: blue;}
    to{background-color: brown;}
    
}