.full{
    height: 400px;
    width: 500px;
    border: 2px solid black;
;
    display: flex;
   

    

}
.img{
    
    margin: 50px;
background-image: url(bootcamp.jpg);
height: 400px;
width: 500px;
background-size: contain;
background-repeat: no-repeat;
}
